.GroupButton {
    background: white;
    min-width:  70px;
    min-height: 24px;
    max-height: 24px;
    border: none;
    border-left: 1px solid #dddee1;
}

.GroupButton:checked {
    background: #5cadff;
}

.GroupButton[position='first'] {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-left-width: 0;
}

.GroupButton[position='last'] {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.QWidget {
    background: #555;
}
